.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(75,75,75);
  color: white;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}


#flightTable {
  background-color: #aaa;
  padding: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 400px;
  min-height: 200px;
  margin: 1em;
  margin-left: 33%;
  text-align: left;
}


#flightTable p {
  vertical-align: top;
}

#plane {
  width: 180px;
  margin-left: 45%;
}

#plane button {
  margin: 5px;
}
